$Yellow:rgb(250, 190, 76);
$Blue_deep:rgb(54, 57, 88);
$Black_light:rgb(60, 60, 60);
$Black_lighter:rgb(62, 62, 62);
$BG-Color:rgb(255, 251, 240);
$Lemon_color:rgb(164, 188, 70);
$White-primary:rgb(255, 255, 255);
$card-bg:rgb(241, 241, 241);
$hover-bg:rgb(245, 245, 245);